select {
  outline: none;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
.bg-gray {
  background-color: #fafafa;
}
.new-line {
  white-space: pre-line;
  word-wrap: break-word;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
